:root {
  --colorPrimary-Orange: hsl(26, 100%, 55%);
  --colorPrimary-PaleOrange: hsl(25, 100%, 94%);

  --colorNeutral-DarkBlue: hsl(220, 13%, 13%);
  --colorNeutral-DarkGrayishBlue: hsl(219, 9%, 45%);
  --colorNeutral-LightGrayishBlue: hsl(223, 64%, 98%);
  --colorNeutral-GrayishBlue: hsl(220, 14%, 75%);
  --colorNeutral-White: hsl(0, 0%, 100%);
  --colorNeutral-Black: hsl(0, 0%, 0%);

  --Font-size: 16px;

  --Font-family: "Kumbh Sans", sans-serif;
}

body {
  padding: 0 10rem;
}

header {
  font-size: var(--Font-size);
  font-family: var(--Font-family);
}

header > div {
  border-bottom: 1px solid var(--colorNeutral-DarkGrayishBlue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav a:first-child {
  color: var(--colorNeutral-Black);
  font-weight: bold;
  margin-right: 30px;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: var(--colorNeutral-DarkGrayishBlue);
}

.profile-picture {
  width: 40px;
  margin-left: 40px;
  cursor: pointer;
}

.carrinho-compra {
  cursor: pointer;
}

main {
  margin-top: 80px;
}

picture > img {
  margin-left: 30px;
  width: 400px;
  margin-bottom: 20px;
}

img {
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 30px;
}

.img-carrosel {
  width: 80px;
}

.container {
  display: flex;
}

.description-product {
  margin-left: 90px;
  width: 500px;
  font-family: var(--Font-family);
  font-size: var(--Font-size);
}

.description-product > p:first-child {
  color: var(--colorPrimary-Orange);
}

.description-product :nth-child(2n + 2) {
  font-size: 30px;
  font-weight: bold;
}

.description-product :nth-child(3n) {
  color: var(--colorNeutral-DarkGrayishBlue);
}

.description-product span {
  font-size: var(--Font-size);
  background-color: var(--colorPrimary-PaleOrange);
  color: var(--colorPrimary-Orange);
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
}

.description-product :nth-child(5n) {
  color: var(--colorNeutral-GrayishBlue);
  text-decoration: line-through;
}

.price-product {
  display: flex;
  flex-direction: row;
}

#decrementar,
#incrementar {
  color: var(--colorPrimary-Orange);
  text-decoration: none;
  border: none;
  font-size: var(--Font-size);
  background-color: var(--colorNeutral-LightGrayishBlue);
  cursor: pointer;
  width: 20px;
  height: 40px;
}

#quantidade {
  border: none;
  text-align: center;
  background-color: var(--colorNeutral-LightGrayishBlue);
  font-size: var(--Font-size);
  width: 40px;
  height: 40px;
}
.addto-cart button {
  margin-left: 40px;
  background-color: var(--colorPrimary-Orange);
  border-radius: 5px;
  color: var(--colorNeutral-White);
  font-size: var(--Font-size);
  border: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.cart-img {
  width: 20px;
  color: var(--colorNeutral-White);
  margin: 0 20px 0 15px;
}
